* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #051d41;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.box {
    background-color: #033269;
    width: 25%;
    height: 110px;
    border: none;
    border-radius: 15px;

}

h1 {
    background-color: white;
    width: 90%;
    border: 0.5px solid white;
    border-radius: 8px;
    text-align: center;
    color: #051d41;
    margin: 15px;
}

button {
    background-color: #17516c;
    color: white;
    width: 20%;
    margin-left: 45px;
    padding: 4px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    
}

button:hover {
    opacity: 0.6;
}

button:active {
    opacity: 0.8;
}

@media screen and (max-width: 1600px) {
    .box{
        width: 25%;
    }

    button{
        width: 20%;
        margin-left: 35px;
    }
}

@media screen and (max-width: 1125px) {
    .box{
        width: 25%;
    }

    button{
        width: 20%;
        margin-left: 20px;
    }
}

@media screen and (max-width: 600px) {
    img{
        width: 350px;
    }

    .box{
        width: 25%;
        padding: 5px;
    }
}